<mat-expansion-panel *ngFor="let post of posts | async">
    <mat-expansion-panel-header>
        <div class="mat-expansion-panel-header-content">
            <mat-icon class="post-icon">announcement</mat-icon>
            <div class="post-type">{{ post.type }}</div>
            <div class="post-number">{{ post.number }}</div>
        </div>
    </mat-expansion-panel-header>
  
    <ng-template matExpansionPanelContent>
        <img src="{{ post.imageSrc }}" alt="{{ post.number }}">

        <div class="mat-expansion-panel-buttons" fxLayout="row" fxLayoutAlign="flex-end stretch">
            <button mat-button color="primary">Ver más</button>
            <a [routerLink]="['document', post.id, 'request']" mat-raised-button color="primary">Es mío</a>
        </div>
    </ng-template>
</mat-expansion-panel>