<div class="page bg-primary container">
    <div class="page-content">
        <div>
            <picture fxLayout="row" fxLayoutAlign="center stretch">
                <img src="assets/img/professional_card.svg" alt="Document found">
            </picture> 
            
            <h2 class="text-center">¿Encontraste un documento?</h2>
        
            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora totam facilis animi inventore voluptatem doloribus incidunt labore rem quo alias, dolorum quod obcaecati. Dicta repellat nulla, laudantium voluptas porro voluptatum?
            </p>
        </div>
    
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <a routerLink="/" mat-button aria-label="Back">
                Cancelar
            </a>
            <a routerLink="/document/create" mat-flat-button aria-label="Next">
                Avanzar
            </a>
        </div>
    </div>
</div>