@mixin bg($theme) {
    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);

    .bg-primary {
        color: mat-color($primary, 'main-contrast');
        background-color: mat-color($primary);
    }
}