@mixin color($theme) {
    $config: mat-get-color-config($theme);
    $background: map-get($config, background);
    $primary: map-get($config, primary);
    
    :root {
        --primary: #{ mat-color($primary) };
        --primary-200: #{ mat-color($primary, 200) };
        --primary-lighter: #{ mat-color($primary, lighter) };
        --background: #{ mat-color($background, card) };
    }
    
}