@mixin color($theme) {
    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);

    :root {
        --primary: #{ mat-color($primary) };
        --primary-lighter: #{ mat-color($primary, lighter) };
    }
    
}