@mixin text($theme) {
    $foreground: map-get($theme, foreground);

    :root {
        --text-secondary: #{ mat-color($foreground, secondary-text) };
    }

    .text-center {
        text-align: center;
    }
    
    .text-justify {
        text-align: justify;
    }
}