<div class="page container">
    <mat-horizontal-stepper linear>
        <mat-step [stepControl]="documentTypeForm">
            <h2>Selecciona qué tipo de documento encontraste</h2>
            <form [formGroup]="documentTypeForm">
                <mat-button-toggle-group (change)="onGroupChange($event)">
                    <mat-button-toggle value="1">DNI</mat-button-toggle>
                    <mat-button-toggle value="2">Pasaporte</mat-button-toggle>
                </mat-button-toggle-group>

                <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                    <a routerLink="/document/found" mat-button aria-label="Back">Atrás</a>
                    <button mat-button matStepperNext>Siguiente</button>
                </mat-toolbar>
               
            </form>
        </mat-step>
        <mat-step [stepControl]="documentForm">
            <h2>Ingresa los datos del documento</h2>
            <p>
                Por favor, ingresa los datos que se encuentran en el documento. <br>
                De esta forma, será más sencillo para el dueño poder encontrarlo.
            </p>
            <form [formGroup]="documentForm">
                <mat-form-field appearance="outline">
                    <mat-label>Número</mat-label>
                    <input matInput type="text" formControlName="number">
                    <mat-error *ngIf="documentForm.controls.number.hasError('required')">El número es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error *ngIf="documentForm.controls.name.hasError('required')">El nombre es obligatorio</mat-error>
                </mat-form-field>

                <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-button matStepperPrevious type="button">Atrás</button>
                    <button mat-button matStepperNext type="submit">Siguiente</button>
                </mat-toolbar>
            </form>
        </mat-step>
        <mat-step [stepControl]="documentImageForm">
            <h2>Subí una imagen del documento</h2>
            <p>
                Asegúrate que se vean con claridad el número y/o el rostro de la persona
                antes de enviar la foto.
            </p>
            <form [formGroup]="documentImageForm">
                <app-input-file></app-input-file>
                <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-button matStepperPrevious type="button">Atrás</button>
                    <button mat-button matStepperNext type="submit">Siguiente</button>
                </mat-toolbar>
            </form>
        </mat-step>
        <mat-step [stepControl]="documentContactForm">
            <h2>Ingresa tus datos de contacto</h2>
            <p>
                Es necesario que nos brides una dirección de email donde te enviaremos una notificación al momento que el dueño reclame su documento. <br>
                En el campo <i>Extra</i> puedes comentar dónde lo encontraste y dejar otros medios de contacto como alguna red social, si lo deseas.
            </p>
            <form [formGroup]="documentContactForm">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error *ngIf="documentContactForm.controls.name.hasError('required')">El nombre es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error *ngIf="documentContactForm.controls.email.hasError('required')">El email es obligatorio</mat-error>
                    <mat-error *ngIf="documentContactForm.controls.email.hasError('email')">Debes ingresar un email válido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Extra</mat-label>
                    <textarea matInput formControlName="extra"></textarea>
                </mat-form-field>
                <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-button matStepperPrevious type="button">Atrás</button>
                    <button mat-button matStepperNext type="submit">Siguiente</button>
                </mat-toolbar>
            </form>
        </mat-step>
        <mat-step>
            <h2>Finalizar</h2>
            <p>Revisa que los datos ingresados estén correctos.</p>
            <h3>Documento encontrado</h3>
            <dl>
                <dt>DNI </dt>
                <dd>{{ documentForm.get('number').value }}</dd>
                
                <dt>Nombre</dt>
                <dd>{{ documentForm.get('name').value }}</dd>
            </dl>
            <h3>Datos de contacto</h3>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-button matStepperPrevious>Atrás</button>
                <button mat-raised-button color="primary" (click)="onSubmit()">Enviar</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

    
</div>