input[type="file"] {
    visibility: hidden;
    display: none;
}

.mat-icon {
    font-size: 72px;
    height: 72px;
    width: 72px;
}

.container {
    border: 2px dashed var(--primary-lighter);
    padding: 64px 32px 56px;
}