@mixin mat-horizontal-stepper($theme) {
    .mat-horizontal-content-container {
        padding: 0 !important;
    }
    
    .mat-horizontal-stepper-header {
        padding: 0 !important;
        width: 40px;
    }
}