@mixin mat-toolbar($theme) {
    $config: mat-get-color-config($theme);
    $primary: map-get($config, primary);

    .mat-toolbar {
        background-color: transparent;
        color: mat-color($primary, darker);
    }
    
    .mat-toolbar.mat-primary {
        border-radius: 8px;
    }

}