@import '~@angular/material/theming';
@import './assets/scss/utils/app';
@import './assets/scss/utils/bg';
@import './assets/scss/utils/color';
@import './assets/scss/utils/text';
@import './assets/scss/material/mat-button-toggle';
@import './assets/scss/material/mat-chip';
@import './assets/scss/material/mat-expansion-panel';
@import './assets/scss/material/mat-form-field';
@import './assets/scss/material/mat-horizontal-stepper';
@import './assets/scss/material/mat-toolbar';

@include mat-core();

$primary: (
    main: #75aadb,
    lighter: #EEF5FB,
    darker: #457FC4,
    200: #75aadb,
    contrast : (
        main: #FFF,
        lighter: #FFF,
        darker: #FFF,
    )
);

$accent: (
    main: #fcbf49,
    lighter: #feecc8,
    darker: #fba931,
    200: #fcbf49,
    contrast : (
        main: #FFF,
        lighter: #FFF,
        darker: #FFF,
    )
);

$app-primary: mat-palette($primary, main, lighter, darker);
$app-accent:  mat-palette($accent, main, lighter, darker);
$app-warn:    mat-palette($mat-red);

$app-theme: mat-light-theme((
    color: (
        primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn,  
    )
));

@include angular-material-theme($app-theme);
@include app($app-theme);
@include bg($app-theme);
@include color($app-theme);
@include text($app-theme);
@include mat-button-toggle($app-theme);
@include mat-chip($app-theme);
@include mat-expansion-panel($app-theme);
@include mat-form-field($app-theme);
@include mat-horizontal-stepper($app-theme);
@include mat-toolbar($app-theme);