<div class="page bg-primary container">
    <picture fxLayout="row" fxLayoutAlign="center stretch">
        <img src="assets/img/happy_announcement.svg" alt="Document request">
    </picture>
    
    <h2 class="text-center">¡Enhorabuena!</h2>

    <p class="text-justify">
        Has encontrado tu {{ post.type }} con número: <strong>{{ post.number }}</strong> <br>
        Revisa que los datos coincidan así avanzamos con el proceso 
        para que puedas recuperarlo lo antes posible.
    </p>

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <a routerLink="/" mat-button aria-label="Back">
            Cancelar
        </a>
        <a routerLink="/document/create" mat-flat-button aria-label="Next">
            Avanzar
        </a>
    </div>
</div>